---
http_interactions:
- request:
    method: post
    uri: https://login.live.com/oauth20_token.srf
    body:
      encoding: UTF-8
      string: client_id=bing-ads-oauth-client-id&client_secret=bing-ads-oauth-client-secret&grant_type=refresh_token&refresh_token=bing-ads-oauth-refresh-token
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","expires_in":3600,"scope":"bingads.manage","access_token":"bing-ads-oauth-authentication-token","refresh_token":"bing-ads-oauth-refresh-token","user_id":"bing-ads-oauth-user-id"}'
  recorded_at: Fri, 09 Sep 2016 14:46:47 GMT
- request:
    method: post
    uri: https://bulk.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/V10/BulkService.svc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <s:Envelope xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
          <s:Header xmlns="https://bingads.microsoft.com/CampaignManagement/v10">
            <Action mustUnderstand="1">DownloadCampaignsByAccountIds</Action>
            <AuthenticationToken i:nil="false">bing-ads-oauth-authentication-token</AuthenticationToken>
            <CustomerAccountId i:nil="false">bing-ads-account-id</CustomerAccountId>
            <CustomerId i:nil="false">bing-ads-customer-id</CustomerId>
            <DeveloperToken i:nil="false">bing-ads-developer-token</DeveloperToken>
          </s:Header>
          <s:Body>
            <DownloadCampaignsByAccountIdsRequest xmlns="https://bingads.microsoft.com/CampaignManagement/v10">
              <AccountIds i:nil="false" xmlns:a1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
                <a1:long>bing-ads-account-id</a1:long>
              </AccountIds>
              <CompressionType i:nil="false">Zip</CompressionType>
              <DataScope>EntityData</DataScope>
              <DownloadFileType i:nil="false">Csv</DownloadFileType>
              <Entities>CampaignTargets Ads</Entities>
              <FormatVersion i:nil="false">4.0</FormatVersion>
            </DownloadCampaignsByAccountIdsRequest>
          </s:Body>
        </s:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - DownloadCampaignsByAccountIds
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:TrackingId
        xmlns:h="https://bingads.microsoft.com/CampaignManagement/v10">bing-ads-report-tracking-id</h:TrackingId></s:Header><s:Body><DownloadCampaignsByAccountIdsResponse
        xmlns="https://bingads.microsoft.com/CampaignManagement/v10"><DownloadRequestId>154890307</DownloadRequestId></DownloadCampaignsByAccountIdsResponse></s:Body></s:Envelope>
  recorded_at: Fri, 09 Sep 2016 14:46:48 GMT
- request:
    method: post
    uri: https://bulk.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/V10/BulkService.svc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <s:Envelope xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
          <s:Header xmlns="https://bingads.microsoft.com/CampaignManagement/v10">
            <Action mustUnderstand="1">GetBulkDownloadStatus</Action>
            <AuthenticationToken i:nil="false">bing-ads-oauth-authentication-token</AuthenticationToken>
            <CustomerAccountId i:nil="false">bing-ads-account-id</CustomerAccountId>
            <CustomerId i:nil="false">bing-ads-customer-id</CustomerId>
            <DeveloperToken i:nil="false">bing-ads-developer-token</DeveloperToken>
          </s:Header>
          <s:Body>
            <GetBulkDownloadStatusRequest xmlns="https://bingads.microsoft.com/CampaignManagement/v10">
              <RequestId i:nil="false">154890307</RequestId>
            </GetBulkDownloadStatusRequest>
          </s:Body>
        </s:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - GetBulkDownloadStatus
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:TrackingId
        xmlns:h="https://bingads.microsoft.com/CampaignManagement/v10">bing-ads-report-tracking-id</h:TrackingId></s:Header><s:Body><GetBulkDownloadStatusResponse
        xmlns="https://bingads.microsoft.com/CampaignManagement/v10"><Errors i:nil="true"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"/><ForwardCompatibilityMap
        xmlns:a="http://schemas.datacontract.org/2004/07/System.Collections.Generic"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"/><PercentComplete>1</PercentComplete><RequestStatus>InProgress</RequestStatus><ResultFileUrl
        i:nil="true" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"/></GetBulkDownloadStatusResponse></s:Body></s:Envelope>
  recorded_at: Fri, 09 Sep 2016 14:46:50 GMT
[...]
