---
http_interactions:
- request:
    method: post
    uri: https://login.live-int.com/oauth20_token.srf
    body:
      encoding: UTF-8
      string: client_id=bing-ads-oauth-client-id&client_secret=bing-ads-oauth-client-secret&grant_type=refresh_token&refresh_token=bing-ads-oauth-refresh-token
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Liveidtestresp:
      - ''
      Ppserver:
      - 'PPV: 30 H: BY2INTIDSLGN12 V: 0'
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","expires_in":3600,"scope":"bingads.manage","access_token":"bing-ads-oauth-authentication-token","refresh_token":"bing-ads-oauth-refresh-token","user_id":"bing-ads-oauth-user-id"}'
  recorded_at: Thu, 24 Jan 2019 11:38:50 GMT
- request:
    method: post
    uri: https://campaign.api.sandbox.bingads.microsoft.com/Api/Advertiser/CampaignManagement/V12/CampaignManagementService.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://bingads.microsoft.com/CampaignManagement/v12"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><tns:Action>GetGeoLocationsFileUrl</tns:Action><tns:AuthenticationToken>bing-ads-oauth-authentication-token</tns:AuthenticationToken><tns:DeveloperToken>bing-ads-developer-token</tns:DeveloperToken><tns:CustomerAccountId>bing-ads-account-id</tns:CustomerAccountId></env:Header><env:Body><tns:GetGeoLocationsFileUrlRequest><tns:Version>1.0</tns:Version><tns:LanguageLocale>en</tns:LanguageLocale></tns:GetGeoLocationsFileUrlRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"GetGeoLocationsFileUrl"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:TrackingId
        xmlns:h="https://bingads.microsoft.com/CampaignManagement/v12">bing-ads-report-tracking-id</h:TrackingId></s:Header><s:Body><GetGeoLocationsFileUrlResponse
        xmlns="https://bingads.microsoft.com/CampaignManagement/v12"><FileUrl>https://bingadsappsstoragesi.blob.core.windows.net/geolocationscsv/1.0/en/GeoLocations.csv?sv=2015-12-11&amp;sr=b&amp;sig=7tYByb%2FqLlUgOGutpdG65O3EciXAc4hPswC7q8Ax%2Fng%3D&amp;st=2019-01-24T11%3A33%3A51Z&amp;se=2019-01-24T11%3A53%3A51Z&amp;sp=rl</FileUrl><FileUrlExpiryTimeUtc>2019-01-24T11:53:51Z</FileUrlExpiryTimeUtc><LastModifiedTimeUtc>2016-12-23T00:12:26Z</LastModifiedTimeUtc></GetGeoLocationsFileUrlResponse></s:Body></s:Envelope>
  recorded_at: Thu, 24 Jan 2019 11:38:51 GMT
- request:
    method: get
    uri: https://bingadsappsstoragesi.blob.core.windows.net/geolocationscsv/1.0/en/GeoLocations.csv?se=2019-01-24T11:53:51Z&sig=7tYByb/qLlUgOGutpdG65O3EciXAc4hPswC7q8Ax/ng=&sp=rl&sr=b&st=2019-01-24T11:33:51Z&sv=2015-12-11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/csv
      Content-Md5:
      - xcU2iJHBPPuqyaLL/bQi8A==
      Last-Modified:
      - Fri, 23 Dec 2016 00:12:26 GMT
      Etag:
      - '"0x8D42AC8609DE67F"'
      X-Ms-Version:
      - '2015-12-11'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Lease-State:
      - available
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Server-Encrypted:
      - 'false'
    body:
      encoding: ASCII-8BIT
      string: |
        ID,Code,Display Name,Descriptor,Target Type,Replaces,Status,AdWords Location ID
        1,AL,Albania,country/region,Country,,Active,2008
        2,AQ,Antarctica,country/region,Country,,Active,2010
        3,DZ,Algeria,country/region,Country,,Active,2012
        4,AS,American Samoa,country/region,Country,,Active,2016
        5,AD,Andorra,country/region,Country,,Active,2020
  recorded_at: Thu, 24 Jan 2019 11:39:04 GMT
recorded_with: VCR 4.0.0
