---
http_interactions:
- request:
    method: post
    uri: https://login.live.com/oauth20_token.srf
    body:
      encoding: UTF-8
      string: client_id=bing-ads-oauth-client-id&client_secret=bing-ads-oauth-client-secret&grant_type=refresh_token&refresh_token=bing-ads-oauth-refresh-token
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","expires_in":3600,"scope":"bingads.manage","access_token":"bing-ads-oauth-authentication-token","refresh_token":"bing-ads-oauth-refresh-token","user_id":"bing-ads-oauth-user-id"}'
  recorded_at: Tue, 19 Jul 2016 08:52:44 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/V10/CampaignManagementService.svc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <env:Envelope xmlns:tns="https://bingads.microsoft.com/CampaignManagement/v10"
                      xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
            <env:Header>
                <tns:CustomerAccountId>bing-ads-account-id</tns:CustomerAccountId>
                <tns:CustomerId>bing-ads-customer-id</tns:CustomerId>
                <tns:DeveloperToken>bing-ads-developer-token</tns:DeveloperToken>
                <tns:AuthenticationToken>bing-ads-oauth-authentication-token</tns:AuthenticationToken>
            </env:Header>
            <env:Body>
                <tns:GetAdGroupsByCampaignIdRequest>
                    <tns:CampaignId>91834220</tns:CampaignId>
                </tns:GetAdGroupsByCampaignIdRequest>
            </env:Body>
        </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - GetAdGroupsByCampaignId
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:TrackingId
        xmlns:h="https://bingads.microsoft.com/CampaignManagement/v10">bing-ads-report-tracking-id</h:TrackingId></s:Header><s:Body><GetAdGroupsByCampaignIdResponse
        xmlns="https://bingads.microsoft.com/CampaignManagement/v10"><AdGroups xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><AdGroup><AdDistribution>Search</AdDistribution><AdRotation><EndDate>2050-01-01T00:00:00</EndDate><StartDate>2016-05-02T00:00:00</StartDate><Type>RotateAdsEvenly</Type></AdRotation><BiddingModel>Keyword</BiddingModel><ContentMatchBid><Amount>0.05</Amount></ContentMatchBid><EndDate
        i:nil="true"/><ForwardCompatibilityMap xmlns:a="http://schemas.datacontract.org/2004/07/System.Collections.Generic"/><Id>4464286758</Id><Language>English</Language><Name>[animal
        jam]</Name><NativeBidAdjustment i:nil="true"/><Network>OwnedAndOperatedAndSyndicatedSearch</Network><PricingModel>Cpc</PricingModel><SearchBid><Amount>0.05</Amount></SearchBid><Settings
        i:nil="true"/><StartDate><Day>2</Day><Month>5</Month><Year>2016</Year></StartDate><Status>Active</Status><TrackingUrlTemplate
        i:nil="true"/><UrlCustomParameters i:nil="true" xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.Advertiser.CampaignManagement.Api.DataContracts.V10"/></AdGroup><AdGroup><AdDistribution>Search</AdDistribution><AdRotation><EndDate>2050-01-01T00:00:00</EndDate><StartDate>2016-05-26T00:00:00</StartDate><Type>RotateAdsEvenly</Type></AdRotation><BiddingModel>Keyword</BiddingModel><ContentMatchBid><Amount>0.05</Amount></ContentMatchBid><EndDate
        i:nil="true"/><ForwardCompatibilityMap xmlns:a="http://schemas.da[...]
