---
http_interactions:
- request:
    method: post
    uri: https://login.live-int.com/oauth20_token.srf
    body:
      encoding: UTF-8
      string: client_id=bing-ads-oauth-client-id&client_secret=bing-ads-oauth-client-secret&grant_type=refresh_token&refresh_token=bing-ads-oauth-refresh-token
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Liveidtestresp:
      - ''
      Ppserver:
      - 'PPV: 30 H: BY2INTIDSLGN12 V: 0'
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","expires_in":3600,"scope":"bingads.manage","access_token":"bing-ads-oauth-authentication-token","refresh_token":"bing-ads-oauth-refresh-token","user_id":"bing-ads-oauth-user-id"}'
  recorded_at: Thu, 24 Jan 2019 11:47:32 GMT
- request:
    method: post
    uri: https://clientcenter.api.sandbox.bingads.microsoft.com/Api/CustomerManagement/v12/CustomerManagementService.svc
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://bingads.microsoft.com/Customer/v12"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><tns:Action>GetAccountsInfo</tns:Action><tns:AuthenticationToken>bing-ads-oauth-authentication-token</tns:AuthenticationToken><tns:DeveloperToken>bing-ads-developer-token</tns:DeveloperToken><tns:CustomerAccountId>bing-ads-account-id</tns:CustomerAccountId></env:Header><env:Body><tns:GetAccountsInfoRequest></tns:GetAccountsInfoRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"GetAccountsInfo"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:TrackingId
        xmlns:h="https://bingads.microsoft.com/Customer/v12">bing-ads-report-tracking-id</h:TrackingId></s:Header><s:Body><GetAccountsInfoResponse
        xmlns="https://bingads.microsoft.com/Customer/v12"><AccountsInfo xmlns:a="https://bingads.microsoft.com/Customer/v12/Entities"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:AccountInfo><a:Id>bing-ads-account-id</a:Id><a:Name>ad2games
        GmbH</a:Name><a:Number>E104QLZN</a:Number><a:AccountLifeCycleStatus>Pending</a:AccountLifeCycleStatus><a:PauseReason
        i:nil="true"/></a:AccountInfo></AccountsInfo></GetAccountsInfoResponse></s:Body></s:Envelope>
  recorded_at: Thu, 24 Jan 2019 11:47:33 GMT
recorded_with: VCR 4.0.0
