---
http_interactions:
- request:
    method: post
    uri: https://login.live-int.com/oauth20_token.srf
    body:
      encoding: UTF-8
      string: client_id=bing-ads-oauth-client-id&client_secret=bing-ads-oauth-client-secret&grant_type=refresh_token&refresh_token=bing-ads-oauth-refresh-token
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Liveidtestresp:
      - ''
      Ppserver:
      - 'PPV: 30 H: BY2INTIDSLGN11 V: 0'
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","expires_in":3600,"scope":"bingads.manage","access_token":"bing-ads-oauth-authentication-token","refresh_token":"bing-ads-oauth-refresh-token","user_id":"bing-ads-oauth-user-id"}'
  recorded_at: Thu, 24 Jan 2019 11:47:31 GMT
recorded_with: VCR 4.0.0
