---
http_interactions:
- request:
    method: post
    uri: https://login.live.com/oauth20_token.srf
    body:
      encoding: UTF-8
      string: client_id=bing-ads-oauth-client-id&client_secret=bing-ads-oauth-client-secret&grant_type=refresh_token&refresh_token=bing-ads-oauth-refresh-token
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","expires_in":3600,"scope":"bingads.manage","access_token":"bing-ads-oauth-authentication-token","refresh_token":"bing-ads-oauth-refresh-token","user_id":"bing-ads-oauth-user-id"}'
  recorded_at: Tue, 19 Jul 2016 09:19:31 GMT
- request:
    method: post
    uri: https://campaign.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/V10/CampaignManagementService.svc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <env:Envelope xmlns:tns="https://bingads.microsoft.com/CampaignManagement/v10"
                      xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
            <env:Header>
                <tns:CustomerAccountId>bing-ads-account-id</tns:CustomerAccountId>
                <tns:CustomerId>bing-ads-customer-id</tns:CustomerId>
                <tns:DeveloperToken>bing-ads-developer-token</tns:DeveloperToken>
                <tns:AuthenticationToken>bing-ads-oauth-authentication-token</tns:AuthenticationToken>
            </env:Header>
            <env:Body>
                <tns:GetAdsByAdGroupIdRequest>
                  <tns:AdGroupId>4464286758</tns:AdGroupId>
                </tns:GetAdsByAdGroupIdRequest>
            </env:Body>
        </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - GetAdsByAdGroupId
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:TrackingId
        xmlns:h="https://bingads.microsoft.com/CampaignManagement/v10">bing-ads-report-tracking-id</h:TrackingId></s:Header><s:Body><GetAdsByAdGroupIdResponse
        xmlns="https://bingads.microsoft.com/CampaignManagement/v10"><Ads xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Ad
        i:type="TextAd"><DevicePreference>0</DevicePreference><EditorialStatus>Active</EditorialStatus><FinalAppUrls
        i:nil="true" xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.Advertiser.CampaignManagement.Api.DataContracts.V10"/><FinalMobileUrls
        i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><FinalUrls
        i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><ForwardCompatibilityMap
        xmlns:a="http://schemas.datacontract.org/2004/07/System.Collections.Generic"/><Id>11792482357</Id><Status>Paused</Status><TrackingUrlTemplate
        i:nil="true"/><Type>Text</Type><UrlCustomParameters i:nil="true" xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.Advertiser.CampaignManagement.Api.DataContracts.V10"/><DestinationUrl>a2g-secure.com/?E=oGFdRFUaQWMI%2f37zhgyAZQ2%2fmAc7YHJa&amp;s1=AJ&amp;s3={AdId}&amp;s4={keyword}</DestinationUrl><DisplayUrl>animaljam.com</DisplayUrl><Text>Online
        playground for boys and girls who love animals. Register Now!</Text><Title>Animal
        Jam free to play</Title></Ad><Ad i:type="TextAd"><DevicePreference>0</DevicePreference><EditorialStatus>Active</EditorialStatus><FinalAppUrls
        i:nil="true" xmlns:a="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.Advertiser.CampaignManagement.Api.DataContracts.V10"/><FinalMobileUrls
        i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><FinalUrls
        i:nil="true" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><ForwardCompatibilityMap
        xmlns:a[...]
