---
http_interactions:
- request:
    method: post
    uri: https://login.live.com/oauth20_token.srf
    body:
      encoding: UTF-8
      string: client_id=bing-ads-oauth-client-id&client_secret=bing-ads-oauth-client-secret&grant_type=refresh_token&refresh_token=bing-ads-oauth-refresh-token
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","expires_in":3600,"scope":"bingads.manage","access_token":"bing-ads-oauth-authentication-token","refresh_token":"bing-ads-oauth-refresh-token","user_id":"bing-ads-oauth-user-id"}'
  recorded_at: Fri, 13 Nov 2015 14:23:44 GMT
- request:
    method: post
    uri: https://reporting.api.bingads.microsoft.com/Api/Advertiser/Reporting/V9/ReportingService.svc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xmlns:tns="https://bingads.microsoft.com/Reporting/v9"
                      xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
                      xmlns:arr="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
            <env:Header>
                <tns:CustomerAccountId>bing-ads-account-id</tns:CustomerAccountId>
                <tns:CustomerId>bing-ads-customer-id</tns:CustomerId>
                <tns:DeveloperToken>bing-ads-developer-token</tns:DeveloperToken>
                <tns:AuthenticationToken>bing-ads-oauth-authentication-token</tns:AuthenticationToken>
            </env:Header>
            <env:Body>
                <tns:SubmitGenerateReportRequest>
                    <tns:ReportRequest xmlns:i="http://www.w3.org/2001/XMLSchema-instance" i:type="tns:CampaignPerformanceReportRequest">
                        <tns:Format>Csv</tns:Format>
                        <tns:Language>English</tns:Language>
                        <tns:ReportName>MyReport</tns:ReportName>
                        <tns:ReturnOnlyCompleteData>false</tns:ReturnOnlyCompleteData>
                        <tns:Aggregation>HourOfDay</tns:Aggregation>
                        <tns:Columns>
                                <tns:CampaignPerformanceReportColumn>TimePeriod</tns:CampaignPerformanceReportColumn>
                                <tns:CampaignPerformanceReportColumn>Impressions</tns:CampaignPerformanceReportColumn>
                                <tns:CampaignPerformanceReportColumn>Clicks</tns:CampaignPerformanceReportColumn>
                                <tns:CampaignPerformanceReportColumn>Spend</tns:CampaignPerformanceReportColumn>
                        </tns:Columns>
                        <tns:Scope>
                            <tns:AccountIds>
                                <arr:long>bing-ads-account-id</arr:long>
                            </tns:AccountIds>
                        </tns:Scope>
                        <tns:Time>
                            <tns:CustomDateRangeEnd>
                                <tns:Day>14</tns:Day>
                                <tns:Month>10</tns:Month>
                                <tns:Year>2015</tns:Year>
                            </tns:CustomDateRangeEnd>
                            <tns:CustomDateRangeStart>
                                <tns:Day>14</tns:Day>
                                <tns:Month>10</tns:Month>
                                <tns:Year>2015</tns:Year>
                            </tns:CustomDateRangeStart>
                        </tns:Time>
                    </tns:ReportRequest>
                </tns:SubmitGenerateReportRequest>
            </env:Body>
        </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - SubmitGenerateReport
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:TrackingId
        xmlns:h="https://bingads.microsoft.com/Reporting/v9">bing-ads-report-tracking-id</h:TrackingId></s:Header><s:Body><SubmitGenerateReportResponse
        xmlns="https://bingads.microsoft.com/Reporting/v9"><ReportRequestId>bing-ads-report-request-id</ReportRequestId></SubmitGenerateReportResponse></s:Body></s:Envelope>
  recorded_at: Fri, 13 Nov 2015 14:23:45 GMT
- request:
    method: post
    uri: https://reporting.api.bingads.microsoft.com/Api/Advertiser/Reporting/V9/ReportingService.svc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xmlns:tns="https://bingads.microsoft.com/Reporting/v9"
                      xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
                      xmlns:arr="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
            <env:Header>
                <tns:CustomerAccountId>bing-ads-account-id</tns:CustomerAccountId>
                <tns:CustomerId>bing-ads-customer-id</tns:CustomerId>
                <tns:DeveloperToken>bing-ads-developer-token</tns:DeveloperToken>
                <tns:AuthenticationToken>bing-ads-oauth-authentication-token</tns:AuthenticationToken>
            </env:Header>
            <env:Body>
                <tns:PollGenerateReportRequest>
                    <tns:ReportRequestId xsi:nil="false">bing-ads-report-request-id</tns:ReportRequestId>
                </tns:PollGenerateReportRequest>
            </env:Body>
        </env:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Soapaction:
      - PollGenerateReport
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Header><h:TrackingId
        xmlns:h="https://bingads.microsoft.com/Reporting/v9">bing-ads-report-tracking-id</h:TrackingId></s:Header><s:Body><PollGenerateReportResponse
        xmlns="https://bingads.microsoft.com/Reporting/v9"><ReportRequestStatus xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><ReportDownloadUrl
        i:nil="true"/><Status>Pending</Status></ReportRequestStatus></PollGenerateReportResponse></s:Body></s:Envelope>
  recorded_at: Fri, 13 Nov 2015 14:23:46 GMT
recorded_with: VCR 3.0.0
